<div class="brand">
  <img src="/assets/brand-lg.svg" alt="logo-header" />
</div>
<div class="modal">
  <div class="header">
    <h2 class="heading">Esqueceu a senha?</h2>
  </div>
  <label class="form-check-label">
    Informe o email da sua conta e entraremos em contato com as instruções para
    alterar senha.
  </label>
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form_group">
      <label class="form_label"> E-mail </label>
      <input
        class="form_input"
        type="text"
        placeholder="Digite seu email"
        id="email"
        formControlName="email"
      />
    </div>
    <div class="form_group_row">
      <button type="button" (click)="onSubmit()" [disabled]="disable">
        Enviar instruções para alterar senha
      </button>
    </div>
    @if (notification == 'error') {
    <toast type="warn"
      >Não foi possivel fazer a solicitação de recuperação de senha. Por favor
      verifique o email e tente novamente</toast
    >
    } @if (notification == 'sucess') {
    <toast type="success"
      >Sucesso! voce recebera um email com o link para cadastrar sua nova
      senha</toast
    >
    }
  </form>
  <a routerLink="/" class="form_link"> Voltar para Website. </a>
</div>
<div class="footer">
  <div class="brand-2">
    <img src="/assets/logo-bw.svg" alt="logo-footer" />
  </div>
  <p class="footer_copy">© 2023 Upswing</p>
</div>
