<modal>
  <h2 class="form_heading">Cadastro do Corporativo</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3>Informações da empresa</h3>
    <div class="form_control">
      <label class="form_label">Razão social</label>
      <input 
        type="text"
        placeholder="Digite a razão social da empresa"
        formControlName="companyName"
      />

      @if (submitted && companyName.invalid) {
        <toast type="warn">Por favor, preecha a razão social da empresa</toast>
      }
    </div>

    <div class="form_control">
      <label class="form_label">CNPJ</label>
      <input 
        type="text"
        placeholder="Digite a CNPJ da empresa"
        mask="00000000/0000-00"
        formControlName="companyCode"
      />

      @if (submitted && companyCode.invalid) {
        @if(companyCode.errors?.['required']){
          <toast type="warn">Por favor, preecha a CNPJ da empresa</toast>
        }
        @if(companyCode.errors?.['minlength'] || companyCode.errors?.['maxlength']){
          <toast type="warn">O CNPJ deve ter 14 digitos</toast>
        }
      }
    </div>

    <div formGroupName="businessArea" class="form_group">
    </div>
    <div formGroupName="socialNetworks" class="form_group">
    </div>

    <h3>Informações da conta</h3>
    <div formGroupName="account" class="form_group">
      <div class="form_control">
        <label class="form_label">Nome fantasia</label>
        <input 
          type="text"
          placeholder="Nome e Sobrenome"
          formControlName="name"
        />

        @if (submitted && name.invalid) {
          <toast type="warn">Por favor, preencha um nome fantasia</toast>
        }
      </div>

      <div class="form_control">
        <label class="form_label">E-mail</label>
        <input
          type="email"
          placeholder="Digite seu e-mail"
          formControlName="email"
        />

        @if (submitted && email.invalid) {
          <toast type="warn">Por favor, preencha um email valido</toast>
        }
      </div>

      <div class="form_control">
        <label class="form_label">Senha</label>
        <input
          type="password"
          placeholder="Digite sua senha"
          formControlName="password"
        />

        @if (submitted && password.invalid) {
          @if(password.errors?.['required']){
            <toast type="warn">É necessário informar uma senha</toast>
          }
          @if(password.errors?.['minlength'] || password.errors?.['maxlength']){
            <toast type="warn">A senha deve deve ter entre 8 a 16 caracteres</toast>
          }
        }
      </div>

      <div class="form_control">
        <label class="form_label">Confirmar senha</label>
        <input
          type="password"
          placeholder="confirme a sua senha"
          formControlName="confirmPassword"
        />

        @if (submitted && confirmPassword.invalid) {
          @if(confirmPassword.errors?.['required']){
            <toast type="warn">É necessário confirmar a sua senha</toast>
          }
          @if(confirmPassword.errors?.['notEqual']){
            <toast type="warn">A informada não é igual a anterior</toast>
          }
        }
      </div>

      <div class="form_control">
        <label class="form_label">Telefone principal</label>
        <input
          type="text"
          placeholder="(00) 00000-0000"
          mask="(00) 00000-0000"
          formControlName="mainPhone"
        />

        @if (submitted && mainPhone.invalid){
          <toast type="warn">Não é permitido valores parciais do numero de telefone</toast>
        }
      </div>

      <div class="form_control">
        <label class="form_label">Telefone Opcional</label>
        <input
          type="text"
          placeholder="(00) 00000-0000"
          mask="(00) 00000-0000"
          formControlName="optionalPhone"
        />
      </div>

      @if (submitted && optionalPhone.invalid){
        <toast type="warn">Não é permitido valores parciais do numero de telefone</toast>
      }
    </div>

    <div formGroupName="address" class="form_group">
      <h3 class="body-base-md subtitle">Endereço</h3>
      <div formGroupName="zipCode">
        <div class="form_control">
          <label class="form_label">CEP</label>
          <input
            type="text"
            placeholder="00000-000"
            mask="00000-000"
            formControlName="zipCode"
          />

          @if (submitted && zipCode.invalid) {
            @if(zipCode.errors?.['required']){
              <toast type="warn">Preencha uma CEP válido</toast>
            }
            @if(zipCode.errors?.['minlength'] || zipCode.errors?.['maxlength']){
              <toast type="warn">O numero de CEP deve conter 8 digitos</toast>
            }
          }
        </div>

        <div class="form_control">
          <label class="form_label">Logradouro</label>
          <input 
            type="text"
            placeholder="Digite o logradouro"
            formControlName="street"
          />

          @if (submitted && street.invalid) {
            <toast type="warn">É necessário informar um logradouro</toast>
          }
        </div>

        <div class="form_control">
          <label class="form_label">Bairro</label>
          <input 
            type="text" 
            placeholder="Bairro" 
            formControlName="area"
          />

          @if (submitted && area.invalid) {
            <toast type="warn">É necessário informar um bairro</toast>
          }
        </div>

        <div class="form_control">
          <label class="form_label">Cidade</label>
          <input 
            type="text"
            placeholder="Cidade"
            formControlName="city"
          />

          @if (submitted && city.invalid) {
            <toast type="warn">É necessário informar a cidade</toast>
          }
        </div>

        <div class="form_control">
          <label class="form_label">Estado</label>
          <input 
            type="text"
            placeholder="UF"
            formControlName="state"
          />

          @if (submitted && state.invalid) {
            <toast type="warn">É necessário informar o estado</toast>
          }
        </div>
      </div>

      <div class="form_control">
        <label class="form_label">Numero</label>
        <input placeholder="Numero" type="number" formControlName="number" />

        @if (submitted && number.invalid) {
          <toast type="warn">É necessário informar o numero</toast>
        }
      </div>

      <div class="form_control">
        <label class="form_label">Complemento</label>
        <input placeholder="Complemento" formControlName="complement" />
      </div>
    </div>
    <!--SUBMIT-->
    <button type="submit">Cadastrar</button>
  </form>
</modal>
