@use "variables" as *;
:host {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  .pagination_wrapper {
    display: flex;
    align-items: center;
    gap: $spacing-4;
    padding: $spacing-2;
    border-radius: 2rem;
    background-color: $primary-10;
  }

  button {
    padding: $spacing-4;
    border-radius: 50%;
    background-color: $primary-10;

    &:hover {
      background-color: $white;
    }
  }

  span {
    color: $gray-scale-80;
  }
}
