<land-header id="top" />
<!--============== HOME =============-->
<div class="home_section" id="home-section">
  <div class="hero_section">
    <div class="headline">
      <h1 class="display">
        Programa de Talentos
        <br />
        Conectando você ao mercado.
      </h1>
      <h2 class="h2 tagline">
        Conte com a gente para conectar os melhores
        <br />
        profissionais às ofertas de trabalho
      </h2>
    </div>
    <button class="btn-group-cta">Matricule-se</button>
  </div>
</div>
<section class="content_section" id="content-section">
  <a href="#scroll-section" class="on-scroll">
    <div class="on-scroll-stroke"></div>
  </a>
  <!--============== ABOUT SECTION =============-->
  <div class="about_section" id="scroll-section">
    <div class="wrapper" id="about-section">
      <h2 class="h2">Sobre</h2>
      <h2 class="h2">
        Somos uma plataforma educacional com o objetivo de estimular o
        desenvolvimento e integração de pessoas e negócios por meio do
        aprimoramento das habilidades e da inovação.
      </h2>
    </div>
  </div>
  <!--============== FEATURES SECTION =============-->
  <div class="feature_section" id="feature-section">
    <div class="card_group">
      <div class="card">
        <h2 class="h2">Alunos</h2>
        <h4 class="h4">
          Faça parte do nosso time! *Cta: solução de problemas Aprenda online e
          garanta uma vaga no mercado de trabalho
        </h4>
      </div>
      <div class="card">
        <h2 class="h2">Empresas</h2>
        <h4 class="h4">
          Aumente sua produtividade! *Cta: Gerenciamento das partes interessadas
          - Onboarding de Colaboradores, recrutamento e seleção, treinamentos e
          avaliações, empresa júnior.
        </h4>
      </div>
    </div>
    <img src="/assets/dash.png" alt="" />
  </div>
  <!--============== MILESTONES SECTION =============-->
  <div class="milestones_section">
    <!--============== BANNER SECTION =============-->
    <div class="banner_section">
      <h2 class="h2">
        Aprendizagem, habilidades e oportunidades profissionais.
      </h2>
    </div>
    <div class="wrapper">
      <label class="label"> Milestones </label>
      <h2 class="h2">Colabore com os melhores talentos</h2>
      <h4 class="h4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </h4>
      <div class="card_group">
        <div class="stats">
          <h1 class="h1">92%</h1>
          <label class="label"> Taxa de Admissão </label>
        </div>
        <div class="stroke"></div>
        <div class="stats">
          <h1 class="h1">26,000+</h1>
          <label class="label"> Talentos no Mercado </label>
        </div>
        <div class="stroke"></div>
        <div class="stats">
          <h1 class="h1">100%</h1>
          <label class="label"> Satisfação de Empresas Parceiras </label>
        </div>
        <div class="stroke"></div>
        <div class="stats">
          <h1 class="h1">16,000+</h1>
          <label class="label">
            Retenção de alunos e Evolução de carreira
          </label>
        </div>
      </div>
    </div>
  </div>
  <!--============== MARQUEE SECTION =============-->
  <div class="marquee_section">
    <h2 class="h2">Nossos Parceiros</h2>
    <marquee class="stripe" behavior="scroll" direction="left" scrollamount="8">
      <img src="/assets/marquee-i.png" />
      <img src="/assets/marquee-brand-g.png" />
      <img src="/assets/marquee-i.png" />
      <img src="/assets/marquee-brand-v.png" />
      <img src="/assets/marquee-i.png" />
      <img src="/assets/marquee-brand-m.png" />
      <img src="/assets/marquee-i.png" />
    </marquee>
  </div>
  <!--============== TESTIMONIALS SECTION =============-->
  <div class="testimonial_section" id="testimonials-section">
    <h2 class="h2">Depoimentos</h2>
    <div class="wrapper">
      <div class="btn_group">
        <lucide-icons name="chevronLeft" size="36" color="white" />
      </div>
      <div class="card_group">
        <div class="card">
          <div class="ratings">
            <lucide-icons name="star" size="16" />
            <lucide-icons name="star" size="16" />
            <lucide-icons name="star" size="16" />
            <lucide-icons name="star" size="16" />
            <lucide-icons name="star" size="16" />
            <span class="label">5.0</span>
          </div>
          <div class="quote">
            A plataforma oferece uma experiência incrível, somos verdadeiros
            parceiros. Ela valoriza o investimento que fizemos e trabalha
            conosco para concretizar conexões.
          </div>
          <div class="details">
            <div class="portrait">
              <img src="/assets/testimonials_user.png" />
            </div>
            <div class="label_group">
              <div class="label">João Silva</div>
              <div class="label">Fundador e CEO, Food Express.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn_group">
        <lucide-icons name="chevronRight" size="36" color="white" />
      </div>
    </div>
  </div>
  <!--============== CONTACT SECTION =============-->
  <div class="contact_section" id="contact-section">
    <div class="wrapper">
      <label class="label"> Entre em Contato </label>
      <h2 class="h2">Tem uma Pergunta pra gente?</h2>
      <h4 class="h4">Ficaremos felizes em responder.</h4>
      <div class="info">
        <span>
          <lucide-icons name="mail" size="16" />
          {{ "contato@upswing.mail.com" }}
        </span>
        <span>
          <lucide-icons name="phone" size="16" />
          +55 27 999 • 999 • 999
        </span>
        <span>
          <lucide-icons name="mapPin" size="16" />
          Av. Mal. Mascarenhas de Moraes - Bento Ferreira, Vitória - ES
        </span>
      </div>
    </div>
    <form action="" class="form">
      <div class="form_group">
        <label class="label"> Entre em contato conosco </label>
        <input class="form_input" type="text" placeholder="Nome Completo" />
        <input class="form_input" type="email" placeholder="E-mail" />
        <input class="form_input" type="text" placeholder="Contato" />
        <textarea
          name=""
          id="message_box"
          cols="30"
          rows="10"
          placeholder="Deixe sua mensagem"
        ></textarea>
      </div>
      <button type="submit">Enviar</button>
    </form>
  </div>
  <!--============== FAQ SECTION =============-->
  <div class="faq_section">
    <h2 class="h2">Perguntas Frequentes</h2>
    <div class="card">
      <details>
        <summary>
          Busco talentos, o que preciso para me tornar um colaborador?
        </summary>
        <span> Resposta </span>
      </details>
      <details>
        <summary>Como aplico para as oportunidades de trabalho?</summary>
        <span> Resposta </span>
      </details>
      <details>
        <summary>Como funciona o programa?</summary>
        <span> Resposta </span>
      </details>
      <details>
        <summary>Porque escolher a Upswing?</summary>
        <span> Resposta </span>
      </details>
    </div>
  </div>
  <!--============== EXTRAS HELPDESK SECTION =============-->
  <div class="extras_section">
    <a href="#top" class="tooltip">
      <lucide-icons name="chevronUp" size="16" color="white" />
      <span class="tooltiptext"> Voltar ao topo </span>
    </a>
    <a class="tooltip">
      <lucide-icons name="bot" size="16" color="white" />
      <span class="tooltiptext"> Atendimento </span>
    </a>
    <a class="tooltip">
      <lucide-icons name="star" size="16" color="white" />
      <span class="tooltiptext"> Feedback </span>
    </a>
  </div>
</section>
<!--============== FOOTER SECTION =============-->
<footer class="footer_section" id="footer-section">
  <div class="card">
    <div class="card_section">
      <div class="logo">
        <img src="/assets/logos3.png" alt="Logo" />
      </div>
      <div class="list">
        <p class="label">Sobre</p>
        <a href="" class="links">Nossa Plataforma</a>
        <a href="" class="links">Regulamentação</a>
        <a href="" class="links">Contato</a>
      </div>
      <div class="list">
        <p class="label">Redes Sociais</p>
        <a href="" class="links">LinkedIn</a>
        <a href="" class="links">Instagram</a>
        <a href="" class="links">Whatsapp</a>
      </div>
      <div class="list">
        <p class="label">Recursos</p>
        <a href="" class="links">Documentação</a>
        <a href="" class="links">Mapa do Site</a>
        <a href="" class="links">Status do Sistema</a>
        <a href="" class="links">Press Kit</a>
        <a href="" class="links">Newsletter</a>
      </div>
    </div>
    <div class="credits">
      <p>
        © 2023 Upswing, Inc.Todos os Direitos Reservados. Políticas de
        Privacidade | Termos de Uso | Cookies
      </p>
    </div>
  </div>
</footer>
