<land-header id="top" />
<!--============== HOME =============-->
<section class="home_section" id="home-section">
  <div class="hero_section">
    <div class="headline">
      <h1 class="display">
        Programa de Talentos
        <br />
        Conectando você ao mercado.
      </h1>
      <h2 class="h2 tagline">
        Conte com a gente para conectar os melhores
        <br />
        profissionais às ofertas de trabalho
      </h2>
    </div>
    <button class="btn-group-cta">Matrícule-se</button>
  </div>
</section>
<section class="content_section" id="content-section">
  <a href="#scroll-section" class="on-scroll">
    <div class="on-scroll-stroke"></div>
  </a>
  <!--============== ABOUT SECTION =============-->
  <div class="about_section" id="scroll-section">
    <div class="wrapper" id="about-section">
      <h2 class="h2">
        Somos uma plataforma que integra desenvolvimento de aprendizado com o
        desenvolvimento de carreira, trazendo experiências reais para a esfera
        digital.
      </h2>
    </div>
  </div>
  <!--============== TEAM SECTION =============-->
  <land-team />
  <!--============== FEATURES SECTION =============-->
  <div class="feature_section" id="feature-section">
    <div class="card_group">
      <div class="card">
        <h2 class="h2">Instituições de ensino</h2>
        <ul>
          <li>Garanta o aprendizado contínuo na gestão de talentos</li>
          <li>Integre e engaje em experiências positivas</li>
          <li>
            Crie oportunidades de crescimento, autonomia, flexibilidade e
            visibilidade
          </li>
        </ul>
      </div>
      <div class="card">
        <h2 class="h2">Empresas</h2>
        <ul>
          <li>Aprimore as habilidades da sua equipe</li>
          <li>
            Desenvolva pessoas com planejamento e acompanhe a jornada de
            aprendizado
          </li>
        </ul>
      </div>
    </div>
    <img src="/assets/dash.png" alt="" />
  </div>
  <!--============== MILESTONES SECTION =============-->
  <!-- <div class="milestones_section">
    <div class="banner_section">
      <h2 class="h2">
        Aprendizagem, habilidades e oportunidades profissionais.
      </h2>
      <button class="btn-group-cta">Começe Agora</button>
    </div>
    <div class="wrapper">
      <label class="label"> Milestones </label>
      <h2 class="h2">Colabore com os melhores talentos</h2>
      <h4 class="h4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </h4>
      <div class="card_group">
        <div class="stats">
          <h1 class="h1">92%</h1>
          <label class="label"> Taxa de Admissão </label>
        </div>
        <div class="stroke"></div>
        <div class="stats">
          <h1 class="h1">26,000+</h1>
          <label class="label"> Talentos no Mercado </label>
        </div>
        <div class="stroke"></div>
        <div class="stats">
          <h1 class="h1">100%</h1>
          <label class="label"> Satisfação de Empresas Parceiras </label>
        </div>
        <div class="stroke"></div>
        <div class="stats">
          <h1 class="h1">16,000+</h1>
          <label class="label">
            Retenção de alunos e Evolução de carreira
          </label>
        </div>
      </div>
    </div>
  </div> -->
  <!--============== TESTIMONIALS SECTION =============-->
  <div class="testimonial_section" id="testimonials-section">
    <h2 class="h2">Depoimentos</h2>
    <div class="wrapper">
      <div class="btn_group">
        <lucide-icons name="chevronLeft" size="36" color="white" />
      </div>
      <div class="card_group">
        <div class="card">
          <div class="ratings">
            <lucide-icons name="star" size="16" />
            <lucide-icons name="star" size="16" />
            <lucide-icons name="star" size="16" />
            <lucide-icons name="star" size="16" />
            <lucide-icons name="star" size="16" />
            <span class="label">5.0</span>
          </div>
          <div class="quote">
            A plataforma oferece uma experiência incrível, somos verdadeiros
            parceiros. Ela valoriza o investimento que fizemos e trabalha
            conosco para concretizar conexões.
          </div>
          <div class="details">
            <div class="portrait">
              <img src="/assets/testimonials_user.png" />
            </div>
            <div class="label_group">
              <div class="label">João Silva</div>
              <div class="label">Fundador e CEO, Food Express.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn_group">
        <lucide-icons name="chevronRight" size="36" color="white" />
      </div>
    </div>
  </div>
  <!--============== CONTACT SECTION =============-->
  <div class="contact_section" id="contact-section">
    <div class="wrapper">
      <label class="label"> Entre em Contato </label>
      <h2 class="h2">Tem uma Pergunta pra gente?</h2>
      <h4 class="h4">Ficaremos felizes em responder.</h4>
      <div class="info">
        <span>
          <lucide-icons name="mail" size="16" />
          {{ "contato@upswing.mail.com" }}
        </span>
        <span>
          <lucide-icons name="phone" size="16" />
          +55 27 999 • 999 • 999
        </span>
        <span>
          <lucide-icons name="mapPin" size="16" />
          No mundo todo para você!
        </span>
      </div>
    </div>
    <form action="" class="form">
      <div class="form_group">
        <label class="label"> Entre em contato conosco </label>
        <input class="form_input" type="text" placeholder="Nome Completo" />
        <input class="form_input" type="email" placeholder="E-mail" />
        <input class="form_input" type="text" placeholder="Contato" />
        <textarea
          name=""
          id="message_box"
          cols="30"
          rows="10"
          placeholder="Deixe sua mensagem"
        ></textarea>
      </div>
      <button type="submit">Enviar</button>
    </form>
  </div>
  <!--============== FAQ SECTION =============-->
  <!-- <div class="faq_section">
    <h2 class="h2">Perguntas Frequentes</h2>
    <div class="card">
      <details>
        <summary>
          Busco talentos, o que preciso para me tornar um colaborador?
        </summary>
        <span> Resposta </span>
      </details>
      <details>
        <summary>Como aplico para as oportunidades de trabalho?</summary>
        <span> Resposta </span>
      </details>
      <details>
        <summary>Como funciona o programa?</summary>
        <span> Resposta </span>
      </details>
      <details>
        <summary>Porque escolher a Upswing?</summary>
        <span> Resposta </span>
      </details>
    </div>
  </div> -->
  <!--============== EXTRAS HELPDESK SECTION =============-->
  <div class="extras_section">
    <a href="#top" class="tooltip">
      <lucide-icons name="chevronUp" size="16" color="white" />
      <span class="tooltiptext"> Inicio </span>
    </a>
    <a class="tooltip">
      <lucide-icons name="bot" size="16" color="white" />
      <span class="tooltiptext"> Suporte </span>
    </a>
    <a class="tooltip">
      <lucide-icons name="star" size="16" color="white" />
      <span class="tooltiptext"> Feedback </span>
    </a>
  </div>
</section>
<!--============== FOOTER SECTION =============-->
<land-footer />
