<h2 class="team_title">Nossa Equipe</h2>
<div class="team_cards">
  <div class="user_card">
    <img ngSrc="assets/team-profille-01.png" width="140" height="140" />
    <h3 class="user_name">Jacimara Noberto</h3>
    <h4 class="user_position">Desenvovedora Back-End</h4>
  </div>
  <div class="user_card">
    <img ngSrc="assets/team-profille-02.png" width="140" height="140" />
    <h3 class="user_name">Manoel Junior</h3>
    <h4 class="user_position">Desenvolvedor Front-end</h4>
  </div>
  <div class="user_card">
    <img ngSrc="assets/team-profille-03.png" width="140" height="140" />
    <h3 class="user_name">Talita Costa</h3>
    <h4 class="user_position">UIX Designer</h4>
  </div>
</div>
