<h2 class="team_title">Nossa Equipe</h2>
<div class="team_cards">
  <div class="user_card">
    <img ngSrc="assets/team-profille-01.png" width="140" height="140" />
    <a class="user_name" href="https://www.linkedin.com/in/jacimara-noberto/" target="_blank">Jacimara Noberto</a>
    <h4 class="user_position">Desenvovedora Back-End</h4>
  </div>
  <div class="user_card">
    <img ngSrc="assets/team-profille-02.png" width="140" height="140" />
    <a class="user_name" href="https://www.linkedin.com/in/mnjunior/" target="_blank">Manoel Junior</a>
    <h4 class="user_position">Desenvolvedor Front-end</h4>
  </div>
  <div class="user_card">
    <img ngSrc="assets/team-profille-03.png" width="140" height="140" />
    <a class="user_name" href="https://www.linkedin.com/in/tltco/" target="_blank">Talita Costa</a>
    <h4 class="user_position">UIX Designer</h4>
  </div>
</div>