<div class="card_header">
  <div class="flex">
    <lucide-icons name="bookOpen" [size]="20" color="hsl(228, 20%, 60%)" />
    <button class="icon-btn" (click)="menu = !menu">
      <lucide-icons
        name="moreVertical"
        color="hsl(228, 20%, 60%)"
        [size]="16"
      />
    </button>
    <div [ngClass]="menu ? 'menu_container active' : 'menu_container'">
      <button class="action-btn">
        <lucide-icons name="penLine" color="hsl(228, 20%, 60%)" [size]="16" />
        Editar
      </button>
      <button class="action-btn">
        <lucide-icons name="trash2" color="hsl(228, 20%, 60%)" [size]="16" />
        Excluir
      </button>
    </div>
  </div>
  <p class="card_title">{{ course.courseName }}</p>
  <button (click)="modal = true">Ver mais</button>
</div>

@if(modal){
<popup-modal>
  <div class="card_header_expand">
    <lucide-icons
      name="bookOpen"
      [size]="20"
      color="hsl(228, 20%, 60%)"
      class="card_avatar"
    />
    <button (click)="modal = false">
      <lucide-icons name="x" [size]="20" color="hsl(226, 20%, 60%)" />
    </button>
  </div>
  <div class="card_content">
    <p class="card_title">{{ course.courseName }}</p>
  </div>
  <div class="card_content">
    <div class="card_details">
      <p>{{ course.educationLevel }}</p>
      <p>{{ course.schedule }}h</p>
    </div>
  </div>
  <div class="card_content">
    <button class="summary" (click)="subject = !subject">
      <span>Turmas</span>
      <lucide-icons
        [ngClass]="subject ? 'inverted' : 'normal'"
        [size]="20"
        name="chevronDown"
        color="hsl(228, 20%, 60%)"
      />
    </button>
    <div [ngClass]="subject ? 'card_accordion active' : 'card_accordion'">
      @for (subject of course.subjects; track $index) {
      <span>{{ subject }}</span>
      }
    </div>
  </div>
</popup-modal>
}
