<viewer-heading>Cursos</viewer-heading>
<load-section>
  @defer (on immediate; prefetch on idle){
  @if (myCourses$ | async; as courses) { @for (course of courses |
  studentCoursesCardContent; track $index) {
  <my-course-card [course]="course" />
  } @empty {
  <nothing />
  }
  <pagination-section
    [currPage]="courses | currPage"
    [lastPage]="courses | lastPage"
    (onPageChange)="getPage($event)"
  />
  }
} @loading(minimum 1200ms) {
  <card-loading/>
  <card-loading/>
  <card-loading/>
  <card-loading/>
  <card-loading/>
  <card-loading/>
}
</load-section>
