@if (visible) {
<div class="card_header">
  <div class="flex">
    <lucide-icons name="building" [size]="20" color="hsl(228, 20%, 60%)" />
    <button class="icon-btn" (click)="menu = !menu">
      <lucide-icons
        name="moreVertical"
        color="hsl(228, 20%, 60%)"
        [size]="16"
      />
    </button>
    <div [ngClass]="menu ? 'menu_container active' : 'menu_container'">
      <button class="action-btn" (click)="approve()">
        <lucide-icons name="penLine" color="hsl(228, 20%, 60%)" [size]="16" />
        Aprovar
      </button>
      <button class="action-btn" (click)="notApprove()">
        <lucide-icons name="trash2" color="hsl(228, 20%, 60%)" [size]="16" />
        Desaprovar
      </button>
    </div>
  </div>
  <p class="card_title">{{ company.name }}</p>
  <button (click)="modal = true">Ver mais</button>
</div>
@if (modal) {
<popup-modal>
  <div class="card_header_expand">
    <lucide-icons
      name="building"
      [size]="20"
      color="hsl(228, 20%, 60%)"
      class="card_avatar"
    />
    <button (click)="modal = false">
      <lucide-icons name="x" [size]="20" color="hsl(226, 20%, 60%)" />
    </button>
  </div>
  <div class="card_content">
    <p class="card_title">{{ company.name }}</p>
    <p class="card_data">{{ company.companyCode | cnpj }}</p>
  </div>
  <div class="card_content">
    <p class="card_data">Telefone: {{ company.mainPhone | phone }}</p>
    <p class="card_data">{{ company.email }}</p>
    <p class="card_data">
      {{ company.address.zipCode.city }}, {{ company.address.zipCode.state }}
    </p>
  </div>
  <div class="card_content">
    @if (company.socialNetworks) { @if (company.socialNetworks.socialOne) {
    <p class="card_data">{{ company.socialNetworks.socialOne }}</p>
    } @if (company.socialNetworks.socialTwo) {
    <p class="card_data">{{ company.socialNetworks.socialTwo }}</p>
    } @if (company.socialNetworks.socialThree) {
    <p class="card_data">{{ company.socialNetworks.socialThree }}</p>
    } @if (company.socialNetworks.socialFour) {
    <p class="card_data">{{ company.socialNetworks.socialFour }}</p>
    } }
  </div>
</popup-modal>
} }
