@use "variables" as *;
@use "mixins" as *;

:host {
  @include mask;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  width: 60dvw;
  height: 80dvh;
  overflow-y: auto;
  padding: $spacing-11;
  border-radius: $radius-2;
  background-color: $white-color;
}

a {
  position: absolute;
  top: $spacing-12;
  right: $spacing-12;
  padding: $spacing-3;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $gray-scale-30;
  }
}
