@use "variables" as *;

:host {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;

  height: 100dvh;
  width: 100dvw;
  background-color: #0000008d;
  backdrop-filter: blur(1rem);
}

.modal {
  position: relative;
  width: 60dvw;
  height: 80dvh;
  overflow-y: auto;
  padding: $spacing-11;
  border-radius: $radius-2;
  background-color: $white-color;
}

lucide-icons[name="chevronLeft"] {
  position: absolute;
  top: $spacing-10;
  right: $spacing-10;
  padding: $spacing-3;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $gray-scale-30;
  }
}
