@use "font" as *;
@use "variables" as *;
@use "mixins" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: $font;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  min-height: 100dvh;
  font-size: $base;
  font-weight: $regular;
  color: $gray-scale-80;
  scroll-behavior: smooth;
}

router-outlet {
  display: none;
}

h1 {
  font-size: $h1;
  font-weight: $semibold;
  line-height: $headings;
}

h2 {
  font-size: $h2;
  font-weight: $regular;
  line-height: $headings;
}

h3 {
  font-size: $h3;
  font-weight: $medium;
  line-height: $headings;
}

h4 {
  font-size: $h4;
  font-weight: $regular;
  line-height: $headings;
  color: $gray-scale-80;
}

a {
  font-size: $base;
  font-weight: $medium;
  line-height: $body;
  color: $black;
  text-decoration: none;
  transition: 0.3s ease-in;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

button {
  display: inline-block;
  font-size: $base;
  color: $white;
  padding: $spacing-4 $spacing-6;
  background-color: $primary-color;
  border-radius: $spacing-2;
  border: none;
  outline: none;
  transition: 0.3s ease-in;
  cursor: pointer;

  &:is(:hover, :focus) {
    border: none;
    outline: none;
  }
}

button[disabled] {
  color: $gray-scale-60;
  background-color: $gray-scale-30;
}

ul {
  list-style: none;
}

img {
  user-select: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: $spacing-6;
}

input {
  color: $primary-80;
  padding: $spacing-5;
  border-radius: $radius-2;
  border: 1px solid $gray-scale-60;
  width: 100%;

  &:focus {
    background-color: $primary-5;
    border: 1px solid $primary-color;
    outline: 3px solid $primary-10;
  }

  &::placeholder {
    color: $gray-scale-60;
  }

  &:focus::placeholder {
    color: $primary-80;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="checkbox"] {
  width: $base;
  cursor: pointer;
}

input[type="radio"] {
  appearance: none;
  width: $spacing-7;
  height: $spacing-7;
  aspect-ratio: 1/1;
  background-color: $gray-scale-10;
  border: 1px solid $gray-scale-10;
  border-radius: 50%;
  cursor: pointer;
  transition: all 250ms ease;

  &:checked {
    background-color: $primary-color;
    border: 1px solid $white;
    outline: 1px solid $primary-30;
  }
}

input[type="date"] {
  color: $gray-scale-60;
}

textarea {
  height: $spacing-12;
  min-height: $spacing-11;
  color: $primary-80;
  border-radius: $radius-2;
  border: 1px solid $gray-scale-60;
  padding: $spacing-5 $spacing-6;

  &:focus {
    background-color: $primary-5;
    border: 1px solid $primary-color;
    outline: 3px solid $primary-10;
  }

  &::placeholder {
    color: $gray-scale-60;
  }

  &:focus::placeholder {
    color: $primary-80;
  }
}

.form_heading {
  @include heading;
  margin-bottom: $spacing-7;
}

.form_group {
  display: flex;
  flex-direction: column;
  gap: $spacing-5;
}

.form_control {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
}

.form_control_row {
  display: flex;
  align-items: center;
  gap: $spacing-5;
}

.select_options {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
}

// CUSTOM SELECT INPUT

.custom_select_container {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
  position: relative;
}

.custom_select {
  border: 1px solid $gray-scale-60;
  padding: $spacing-5;
  border-radius: $radius-2;
  width: 100%;
}

.custom_options_container {
  display: none;
  flex-direction: column;

  position: absolute;
  top: 105%;

  box-shadow: $shadow-container;
  background-color: $white;
  width: 100%;
  z-index: 2;

  &.active {
    display: flex;
  }
}

.custom_option {
  display: block;
  font-size: $base;

  padding: $spacing-2 $spacing-4;
  border-bottom: 1px solid $gray-scale-30;
  width: 100%;
  transition: 0.1s;

  &:hover {
    color: $white;
    background-color: $primary-80;
  }
}

// ROUTER CARD

.router_card {
  @include linkCard;

  &.register {
    flex-direction: column;
    color: $primary-60;
    border: 2px dashed $primary-60;

    &:is(:hover, :focus) {
      color: $white;
      border: 2px solid $primary-color;
    }
  }
}

// SELECT BUTTON

.select_button:hover lucide-icons svg,
.select_button.active lucide-icons svg {
  stroke: $white;
}

// ICON-BTN & ACTION-BTN :HOVER > COLOR: $gray-scale-80;
.icon-btn:hover lucide-icons svg,
.action-btn:hover lucide-icons svg {
  transition: 0.4s ease-out;
  stroke: $gray-scale-80 !important;
}

// CUSTOM SELECT ARRAY

.first_select-option,
.others_select-options,
.last_select-option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-3;

  button {
    background-color: $white;
    height: 2.75rem;
    width: 10%;

    &:has(lucide-icons[name="plus"]) {
      border: 1px solid $primary-color;
    }
    &:has(lucide-icons[name="trash2"]) {
      border: 1px solid $ui-red;
    }
  }
}

.first_select-option {
  custom-select-courses {
    width: 100%;
  }

  &:has(button) custom-select-courses {
    width: 90%;
  }

  button {
    align-self: flex-end;
  }
}

.others_select-options {
  custom-select-courses {
    width: 90%;
  }
}

.last_select-option {
  custom-select-courses {
    width: 80%;
  }
}

// CUSTOM SCROLL BAR

::-webkit-scrollbar {
  background-color: $primary-10;
  width: 6px;
  border-top-right-radius: $radius-3;
  border-bottom-right-radius: $radius-3;
}

::-webkit-scrollbar-thumb {
  background-color: $gray-scale-60;
  border-radius: $radius-3;
}
