@use "variables" as *;

@mixin heading {
  font-size: $h2;
  border-bottom: 4px solid $primary-color;
  padding: $spacing-8 $spacing-10 $spacing-8 $spacing-6;
  width: fit-content;
}

@mixin heading-2 {
  border-bottom: 2px solid $gray-scale-60;
  padding-bottom: $spacing-8;
  margin-bottom: $spacing-6;
  width: 100%;
}

@mixin formGroup($direction: column) {
  display: flex;
  flex-direction: $direction;
  align-items: flex-start;
  justify-content: space-between;
  gap: $spacing-4;
  width: 100%;
}
