@use "variables" as *;

@mixin mask {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;

  height: 100dvh;
  width: 100dvw;

  background-color: #0000008d;
  backdrop-filter: blur(8px);
}

@mixin heading {
  font-size: $h3;
  border-bottom: 4px solid $primary-color;
  padding: $spacing-8 $spacing-10 $spacing-8 $spacing-6;
  width: fit-content;
}

@mixin heading-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  h1 {
    font-size: $h3;
    font-weight: $medium;
  }

  lucide-icons {
    padding: $spacing-3;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: $primary-10;
    }
  }
}

@mixin mainContainer {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-7;
}

@mixin linkCard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-4;

  height: 10rem;
  width: 100%;
  color: $gray-scale-80;
  border-radius: $radius-4;
  border: 1px solid $gray-scale-30;
  transition: 0.4s ease-out;

  &:hover,
  &:focus {
    color: $white;
    font-weight: $medium;
    background-image: linear-gradient(
      to right,
      hsl(207, 87%, 64%) 0%,
      hsl(226, 96%, 60%) 100%
    );
    background-position: right center;
    border: 1px solid #f5f7ff;
    box-shadow: 2px 2px 16px 4px hsla(213, 100%, 55%, 0.178);

    svg {
      stroke: $white !important;
    }
  }

  &:focus {
    border: 1px solid hsl(226, 96%, 96%);

    box-shadow: inset 0 0 60px #dee5ff, inset 20px 0 80px #47a3ff,
      inset -20px 0 40px #33d7a9, inset 20px 0 400px #0539e6,
      inset -8px 0 40px #bbf11a, 0 0 8px #cad0ff, -10px 0 20px #cae2ff,
      10px 0 20px #d6cbff;
  }
}

@mixin formGroup($direction: column) {
  display: flex;
  flex-direction: $direction;
  align-items: flex-start;
  justify-content: space-between;
  gap: $spacing-4;
  width: 100%;
}
