<modal>
  <h2 class="form_heading">Cadastro do Aluno</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3 class="body-base-md subtitle">Informações Pessoais</h3>
    <div formGroupName="account" class="form_group">
      <div class="form_control">
        <label class="form_label">Nome Completo</label>
        <input
          type="text"
          placeholder="Nome e Sobrenome"
          formControlName="name"
        />

        @if (submitted && name.invalid) {
        <toast type="warn">Por favor, preencha um nome valido</toast>
        }
      </div>

      <div class="form_control">
        <label class="form_label">E-mail</label>
        <input
          type="email"
          placeholder="Digite seu e-mail"
          formControlName="email"
        />

        @if (submitted && email.invalid) {
        <toast type="warn">Por favor, preencha um email valido</toast>
        }
      </div>

      <div class="form_control">
        <label class="form_label">Telefone principal</label>
        <input
          type="text"
          placeholder="(00) 00000-0000"
          mask="(00) 00000-0000"
          formControlName="mainPhone"
        />

        @if (submitted && mainPhone.invalid){
        <toast type="warn"
          >Não é permitido valores parciais do numero de telefone</toast
        >
        }
      </div>

      <div class="form_control">
        <label class="form_label">Telefone Opcional</label>
        <input
          type="text"
          placeholder="(00) 00000-0000"
          mask="(00) 00000-0000"
          formControlName="optionalPhone"
        />
      </div>

      @if (submitted && optionalPhone.invalid){
      <toast type="warn"
        >Não é permitido valores parciais do numero de telefone</toast
      >
      }
    </div>

    <div class="form_group">
      <h3>Informações pessoais</h3>
      <div class="form_control">
        <label class="form_label">CPF</label>
        <input
          type="text"
          placeholder="Informe seu CPF"
          mask="000.000.000-00"
          formControlName="socialSecurity"
        />

        @if (submitted && socialSecurity.invalid) {
        @if(socialSecurity.errors?.['required']){
        <toast type="warn">É necessário informar uma CPF</toast>
        } @if(socialSecurity.errors?.['minlength'] ||
        socialSecurity.errors?.['maxlength']){
        <toast type="warn">O CPF deve possuir 11 digitos</toast>
        } }
      </div>

      <div class="form_control">
        <label class="form_label">Data de Nascimento</label>
        <input
          type="date"
          placeholder="DD/MM/AAAA"
          formControlName="birthDate"
        />

        @if (submitted && birthDate.invalid) {
        <toast type="warn">Preencha uma data válida</toast>
        }
      </div>
    </div>

    <div formGroupName="address" class="form_group">
      <h3 class="body-base-md subtitle">Endereço</h3>
      <div formGroupName="zipCode">
        <div class="form_control">
          <label class="form_label">CEP</label>
          <input
            type="text"
            placeholder="00000-000"
            mask="00000-000"
            formControlName="zipCode"
          />

          @if (submitted && zipCode.invalid) {
          @if(zipCode.errors?.['required']){
          <toast type="warn">Preencha uma CEP válido</toast>
          } @if(zipCode.errors?.['minlength'] || zipCode.errors?.['minlength']){
          <toast type="warn">O numero de CEP deve conter 8 digitos</toast>
          } }
        </div>

        <div class="form_control">
          <label class="form_label">Logradouro</label>
          <input
            type="text"
            placeholder="Digite o logradouro"
            formControlName="street"
          />

          @if (submitted && street.invalid) {
          <toast type="warn">É necessário informar um logradouro</toast>
          }
        </div>

        <div class="form_control">
          <label class="form_label">Bairro</label>
          <input type="text" placeholder="Bairro" formControlName="area" />

          @if (submitted && area.invalid) {
          <toast type="warn">É necessário informar um bairro</toast>
          }
        </div>

        <div class="form_control">
          <label class="form_label">Cidade</label>
          <input type="text" placeholder="Cidade" formControlName="city" />

          @if (submitted && city.invalid) {
          <toast type="warn">É necessário informar a cidade</toast>
          }
        </div>

        <div class="form_control">
          <label class="form_label">Estado</label>
          <input type="text" placeholder="UF" formControlName="state" />

          @if (submitted && state.invalid) {
          <toast type="warn">É necessário informar o estado</toast>
          }
        </div>
      </div>

      <div class="form_control">
        <label class="form_label">Numero</label>
        <input placeholder="Numero" type="number" formControlName="number" />

        @if (submitted && number.invalid) {
        <toast type="warn">É necessário informar o numero</toast>
        }
      </div>

      <div class="form_control">
        <label class="form_label">Complemento</label>
        <input placeholder="Complemento" formControlName="complement" />
      </div>
    </div>
    <!--SUBMIT-->
    <button type="submit" [disabled]="disable">Cadastrar</button>
  </form>
</modal>
@if (formStatus == 'success') {
<audio autoplay src="assets/doubleknock.mp3"></audio>
<popup-modal>
  <lucide-icons name="checkCircle2" [size]="40" color="hsl(226, 96%, 60%)" />
  <h3>Sucesso</h3>
  <p>O aluno foi cadastrado com exito</p>
  <button
    style="
      width: 40%;
      background-color: transparent;
      color: hsl(226, 96%, 60%);
      border: 1px solid hsl(226, 96%, 60%);
    "
    (click)="formStatus = 'notSubmitted'"
  >
    voltar
  </button>
</popup-modal>
} @if (formStatus == 'error') {
<audio autoplay src="assets/doubleknock.mp3"></audio>
<popup-modal>
  <lucide-icons name="alertCircle" [size]="40" color="#fa3664" />
  <h3>Algo Aconteceu</h3>
  <p style="max-width: 80%">
    Algo de errado aconteceu! Atualize a pagina e tente novamente
  </p>
  <button
    style="
      width: 40%;
      background-color: transparent;
      color: #fa3664;
      border: 1px solid #fa3664;
    "
    (click)="formStatus = 'notSubmitted'"
  >
    voltar
  </button>
</popup-modal>
}
