<footer class="footer_section" id="footer-section">
  <div class="card">
    <div class="card_section">
      <div class="logo">
        <img src="/assets/logos3.png" alt="Logo" />
      </div>
      <div class="list">
        <p class="label">Sobre</p>
        <a href="" class="links">Nossa Plataforma</a>
        <a href="" class="links">Regulamentação</a>
        <a href="" class="links">Contato</a>
      </div>
      <div class="list">
        <p class="label">Redes Sociais</p>
        <a href="" class="links">LinkedIn</a>
        <a href="" class="links">Instagram</a>
        <a href="" class="links">Whatsapp</a>
      </div>
      <div class="list">
        <p class="label">Recursos</p>
        <a href="" class="links">Documentação</a>
        <a href="" class="links">Mapa do Site</a>
        <a href="" class="links">Status do Sistema</a>
        <a href="" class="links">Press Kit</a>
        <a href="" class="links">Newsletter</a>
      </div>
    </div>
    <div class="credits">
      <p>
        © 2024 Upswing, Inc.Todos os Direitos Reservados. Políticas de
        Privacidade | Termos de Uso | Cookies
      </p>
    </div>
  </div>
</footer>
