<div class="heading">
  <lucide-icons
    name="chevronLeft"
    [size]="24"
    color="#666c84"
    routerLink="../"
  />
  <h1>Area de Cadastro</h1>
</div>

<div class="register_category">
  <h2>usuarios</h2>
  <div class="register_options">
    <a class="register_link" routerLink="student">Aluno</a>
    <a class="register_link" routerLink="admin">Administrador</a>
  </div>
</div>

<div class="register_category">
  <h2>Academico</h2>
  <div class="register_options">
    <a class="register_link" routerLink="course">Curso</a>
    <a class="register_link" routerLink="class">Turma</a>
    <a class="register_link" routerLink="./">Disciplina</a>
  </div>
</div>

<div class="register_category">
  <h2>Corporativo</h2>
  <div class="register_options">
    <a class="register_link" routerLink="./">Vaga</a>
    <a class="register_link" routerLink="./">Empresa</a>
  </div>
</div>
<router-outlet />
