@use "variables" as *;
@use "mixins" as *;

:host {
  display: flex;
  flex-direction: column;
  gap: $spacing-6;
}

.register_category {
  display: flex;
  flex-direction: column;
  gap: $spacing-6;

  .register_options {
    display: flex;
    gap: $spacing-4;

    .register_link {
      @include linkCard;
      width: 30%;
    }
  }
}
