<modal>
  <h1 class="form_heading">Cadastrar</h1>

  <div class="select_container">
    <button
      class="select_button"
      [ngClass]="{ active: container == 'user' }"
      (click)="setContainer('user')"
    >
      <lucide-icons name="userRound" color="hsl(226, 96%, 60%)" />
      <span>Usuarios</span>
    </button>
    <button
      class="select_button"
      [ngClass]="{ active: container == 'academic' }"
      (click)="setContainer('academic')"
    >
      <lucide-icons name="bookOpenCheck" color="hsl(226, 96%, 60%)" />
      <span>Acadêmico</span>
    </button>
  </div>

  @switch (container) { @case ('academic') {
  <div class="select_options">
    <div class="form_control_row">
      <input
        type="radio"
        id="course"
        [checked]="selected == 'course'"
        name="academic"
        (click)="setRoute('course')"
      />
      <label for="course">Cursos</label>
    </div>
    <div class="form_control_row">
      <input
        type="radio"
        id="class"
        [checked]="selected == 'class'"
        name="academic"
        (click)="setRoute('class')"
      />
      <label for="class">Turmas</label>
    </div>
    <div class="form_control_row">
      <input
        type="radio"
        id="subject"
        [checked]="selected == 'subject'"
        name="academic"
        (click)="setRoute('subject')"
      />
      <label for="subject">Disciplina</label>
    </div>
  </div>
  } @default {
  <div class="select_options">
    <div class="form_control_row">
      <input
        type="radio"
        id="student"
        [checked]="selected == 'student'"
        name="user"
        (click)="setRoute('student')"
      />
      <label for="student">Aluno</label>
    </div>
    <div class="form_control_row">
      <input
        type="radio"
        id="admin"
        [checked]="selected == 'admin'"
        name="user"
        (click)="setRoute('admin')"
      />
      <label for="admin">Administrador</label>
    </div>
  </div>
  } }

  <div class="router_container">
    <a class="register_link_previous" routerLink="../">
      <lucide-icons name="chevronLeft" color="hsl(228, 20%, 60%)" />
      <span>voltar</span>
    </a>
    <a class="register_link_next" [routerLink]="selected">
      <span>Avançar</span>
      <lucide-icons name="chevronRight" color="hsl(226, 96%, 60%)" />
    </a>
  </div>
</modal>
<router-outlet />
