<header>
  <nav>
    <div class="brand">
      <img src="/assets/logo.svg" alt="upswing logo" />
      <img src="/assets/wordmark.svg" alt="" />
    </div>
    <div class="nav_group">
      <a href="#about-section" class="nav_link">Sobre</a>
      <a href="#feature-section" class="nav_link">Parcerias</a>
      <a href="#testimonials-section" class="nav_link">Recursos</a>
      <a href="#contact-section" class="nav_link">Contato</a>
    </div>
    <div class="container_flyout">
      <button class="button_flyout" (click)="flyoutToggle()">
        <lucide-icons name="circleUserRound" color="#839ef7" [size]="20" />
        <span>Minha Área</span>
      </button>
      <div
        [ngClass]="isFlyoutActive ? 'menu_flyout active' : 'menu_flyout'"
        [hidden]="!isFlyoutActive"
      >
        <a class="flyout_link" routerLink="st">Aluno</a>
        <a class="flyout_link" routerLink="co">Empresa</a>
        <a class="flyout_link" routerLink="ad">Administrador</a>
      </div>
    </div>
  </nav>
</header>
