@use "variables" as *;

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: $primary-5;
  padding: $spacing-8;
  height: 100dvh;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: $spacing-5;

  width: 42dvw;
  padding: $spacing-9;
  box-shadow: $shadow-container;
  background-color: $white;
}

.brand img {
  width: 240px;
}

.brand-2 img {
  width: 40px;
  height: 40px;
}

.form-check-label {
  font-size: $small;
}

.pass_box {
  width: 100%;
  position: relative;
}

.pass_box .lucide_icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

button {
  width: 100%;
}

.form_link {
  color: $primary-color;
  margin-inline: auto;
}

.form_group:last-child {
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  opacity: 0.6;
}

.footer_copy {
  color: $gray-scale-80;
  font-weight: $semibold;
}
