<div class="brand">
  <img src="/assets/brand-lg.svg" alt="logo-header" />
</div>
<div class="modal">
  <div class="header">
    <h2 class="heading">Redefinição de senha</h2>
  </div>
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form_group">
      <label class="form_label" for="pass"> Nova senha </label>
      <input
        class="form_input"
        type="password"
        placeholder="Digite a sua senha"
        id="pass"
        formControlName="newPassword"
      />
    </div>
    <div class="form_group">
      <label class="form_label" for="cpass"> Confirme sua nova senha </label>
      <input
        class="form_input"
        type="password"
        placeholder="Confirme a sua senha"
        id="cpass"
        formControlName="confirmPassword"
      />
      @if (confirmPassword.errors && confirmPassword.dirty) {
      @if(confirmPassword.errors['NotEqual']){
      <toast type="warn">As senhas não coincidem</toast>
      } @if (confirmPassword.errors['required']) {
      <toast type="warn">É necessário preencher todos os campos</toast>
      } }
    </div>
    <div class="form_group_row">
      <button type="submit" [disabled]="disable">Redefinir minha senha</button>
    </div>
    @if (notification == 'sucess') {
    <toast type="success">
      Sucesso! Sua senha foi redefinida, tente realizar um novo login!
    </toast>
    } @if (notification == 'error') {
    <toast type="success"> Error! Este token não está mais disponivel </toast>
    }
  </form>
</div>
<div class="footer">
  <div class="brand-2">
    <img src="/assets/logo-bw.svg" alt="logo-footer" />
  </div>
  <p class="footer_copy" href="">© 2023 Upswing</p>
</div>
