@use "variables" as *;
@use "mixins" as *;

:host div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $spacing-8;

  &.expanded {
    grid-template-columns: repeat(6, 1fr);
    .welcome {
      grid-column: span 6;
    }
  }
}

.welcome {
  grid-column: span 4;
  border-bottom: 1px solid $gray-scale-30;
  padding-bottom: $spacing-8;
}

.router_card {
  @include linkCard;

  &.register {
    flex-direction: column;
    border: 2px dashed $primary-60;
    color: $primary-60;

    &:is(:hover, :focus) {
      border: 2px dashed transparent;
    }
  }
}

button {
  color: $gray-scale-80;
}
