@use "variables" as *;

:host {
  display: block;
  height: $spacing-12;
  width: 100%;
  animation: loading 0.6s infinite;
}

@keyframes loading {
  from {
    background-color: $gray-scale-30;
  }
  to {
    background-color: $gray-scale-60;
  }
}
