@use "variables" as *;
@use "mixins" as *;

:host {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $spacing-7;
}

.welcome {
  grid-column: span 3;
  border-bottom: 2px solid $gray-scale-60;
  padding-bottom: $spacing-8;
}

.router_card {
  @include linkCard;

  &.register {
    border: 4px dashed $gray-scale-30;

    &:is(:hover, :focus) {
      border: 4px dashed $primary-color;
    }
  }
}

button {
  font-size: $h4;
  color: $gray-scale-60;
}
