<viewer-heading>Vagas</viewer-heading>
<load-section>
  @defer (on immediate; prefetch on idle){
  @if (myJobOffers$ | async; as jobs) { @for (jobOffers of jobs.content; track
  $index) {
  <my-applies-card [JobOffer]="jobOffers" />
  } @empty {
  <nothing />
  }
  <pagination-section
    [currPage]="jobs | currPage"
    [lastPage]="jobs | lastPage"
    (onPageChange)="getPage($event)"
  />
  }
} @loading(minimum 1200ms) {
  <card-loading/>
  <card-loading/>
  <card-loading/>
  <card-loading/>
  <card-loading/>
  <card-loading/>
}
</load-section>
