<modal>
  <h2>Cadastro do Aluno</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3 class="body-base-md subtitle">Informações Pessoais</h3>
    <div formGroupName="account" class="form_group">
      <div class="form_control">
        <label class="form_label">Nome Completo</label>
        <input placeholder="Nome e Sobrenome" formControlName="name" />

        @if (name.dirty && name.invalid) {
        <toast type="warn">Por favor, preencha um nome valido</toast>
        }
      </div>

      <div class="form_control">
        <label class="form_label">E-mail</label>
        <input
          type="email"
          placeholder="Digite seu e-mail"
          formControlName="email"
        />
      </div>

      <div class="form_control">
        <label class="form_label">Senha</label>
        <input
          type="password"
          placeholder="Digite sua senha"
          formControlName="password"
        />
      </div>

      <div class="form_control">
        <label class="form_label">Telefone principal</label>
        <input
          placeholder="(00) 00000-0000"
          mask="(00) 00000-0000"
          formControlName="mainPhone"
        />
      </div>
      <div class="form_control">
        <label class="form_label">Telefone Opcional</label>
        <input
          placeholder="(00) 00000-0000"
          mask="(00) 00000-0000"
          formControlName="optionalPhone"
        />
      </div>
    </div>

    <div class="form_group">
      <h3>Informações pessoais</h3>
      <div class="form_control">
        <label class="form_label">CPF</label>
        <input
          placeholder="Informe seu CPF"
          mask="000.000.000-00"
          formControlName="socialSecurity"
        />
      </div>
      <div class="form_control">
        <label class="form_label">Data de Nascimento</label>
        <input
          type="date"
          placeholder="DD/MM/AAAA"
          formControlName="birthDate"
        />
      </div>
    </div>

    <div formGroupName="address" class="form_group">
      <h3 class="body-base-md subtitle">Endereço</h3>
      <div class="form_control">
        <label class="form_label">CEP</label>
        <input
          placeholder="00000-000"
          mask="00000-000"
          formControlName="zipCode"
        />
      </div>

      <!-- <div class="form_control">
      <label class="form_label">Logradouro</label>
      <input
        
        placeholder="Digite o logradouro"
        formControlName="logradouro"
      />
    </div> -->

      <div class="form_control">
        <label class="form_label">Numero</label>
        <input placeholder="Numero" formControlName="number" />
      </div>

      <div class="form_control">
        <label class="form_label">Complemento</label>
        <input placeholder="Complemento" formControlName="complement" />
      </div>

      <!-- <div class="form_control">
      <label class="form_label">Bairro</label>
      <input
        
        placeholder="Bairro"
        formControlName="bairro"
      />
    </div>

    <div class="form_control">
      <label class="form_label">Cidade</label>
      <input
        
        placeholder="Cidade"
        formControlName="cidade"
      />
    </div>

    <div class="form_control">
      <label class="form_label">Estado</label>
      <input
        
        placeholder="UF"
        formControlName="estado"
        mask="SS"
      />
    </div> -->
    </div>
    <!--SUBMIT-->
    <button type="submit">Cadastrar</button>
  </form>
</modal>
