@use "variables" as *;
@use "mixins" as *;

:host {
  display: block;
}

h2 {
  @include heading;
  margin-bottom: $spacing-7;
}

h3 {
  font-weight: $medium;
}

form {
  display: flex;
  flex-direction: column;
  gap: $spacing-6;

  .form_group {
    display: flex;
    flex-direction: column;
    gap: $spacing-5;

    .form_control {
      display: flex;
      flex-direction: column;
      gap: $spacing-4;
    }
  }
}
