<header>
  <img ngSrc="assets/brand-lg.svg" width="312" height="60" alt="logo-header" />
</header>
<div class="modal">
  <h1>Área de Login</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form_group">
      <label class="form_label">E-mail</label>
      <input
        type="text"
        id="email"
        formControlName="email"
        placeholder="Digite seu email"
      />
      @if(submitted && email.invalid){
      <toast type="warn">Por favor digite um email valido</toast>
      }
    </div>
    <div class="form_group">
      <label class="form_label">Senha</label>
      <div class="pass_box">
        <input
          [type]="isPassVisible ? 'text' : 'password'"
          id="password"
          placeholder="Digite sua senha"
          formControlName="password"
        />
        <lucide-icons
          [name]="isPassVisible ? 'eyeOff' : 'eye'"
          [size]="16"
          color="#666c84"
          (click)="VisibilityToggle()"
        />
      </div>
      @if(submitted && password.invalid){
      <toast type="warn">É necessario digitar uma senha valida</toast>
      }
    </div>

    <div class="form_group_row">
      <div class="form_check">
        <input class="form-check-input" type="checkbox" />
        <label class="form-check-label"> Me mantenha logado. </label>
      </div>
      <a> Esqueci minha senha. </a>
    </div>
    <button type="submit">Entrar</button>
    @if(failedToLogin){
    <toast type="warn">
      Email ou senha invalidos, confira as suas credenciais e tente novamente
    </toast>
    }
  </form>
  <p class="register">
    Não possui uma conta,
    <a routerLink="../register-company" class="return_link">Cadastre-se</a>
  </p>
  <a routerLink="/" class="return_link"> Voltar para Website. </a>
</div>
<footer>
  <div class="brand-2">
    <img ngSrc="assets/logo-bw.svg" width="56" height="56" alt="logo-footer" />
  </div>
  <p class="footer_copy" href="">© 2024 Upswing</p>
</footer>
